<div class="container">
  <div class="container-left" [formGroup]="myForm">
    <h1 class="container-header">Анкета</h1>

    <div class="container-group">
      <label for="name">Имя</label>
      <app-test-input id="name" formControlName="name" [type]="'text'" [styles]="{width: '500px', height: '44px'}" />
      <small *ngIf="!myForm.controls.name.valid && myForm.controls.name.touched" style="color: red;">Это поле
        обязательное для заполнения</small>
    </div>

    <div class="container-group">
      <label for="age">Возраст</label>
      <app-test-number id="age" formControlName="age" [styles]="{width: '70px', height: '44px'}"></app-test-number>
      @if (!myForm.controls.age.valid && myForm.controls.age.touched){
      <small style="color: red;">Это поле обязательное для заполнения </small>
      }
    </div>

    <div class="container-group">
      <label for="family_status">Семейное <br />положение</label>
      <app-test-select id="family_status" formControlName="family_status" [styles]="{width: '300px', height: '44px'}"
        [params]="['Не женат / не замужем', 'Женат / замужем']"></app-test-select>
      @if (!myForm.controls.family_status.valid && myForm.controls.family_status.touched){
      <small style="color: red;">Это поле обязательное для заполнения </small>
      }
    </div>

    <div class="container-places-studied">
      <div class="studied-places-section">
        <div class="container-group" *ngFor="let n of [].constructor(number_places_studied); let i = index">
          <label for="university">ВУЗ</label>
          <app-test-input id="university" formControlName="university" [styles]="{width: '300px', height: '44px'}"
            [type]="'text'" [placeholder]="'Например, ВолгГУ'"></app-test-input>
          @if (!myForm.controls.university.valid && myForm.controls.university.touched){
          <small style="color: red;">Это поле обязательное для заполнения </small>
          }
          <div class="container-places-btns">
            <button class="container-group-btn-delete" *ngIf="i === number_places_studied - 1 && i !== 0"
              (click)="delete_places_studied()">X</button>
            <div *ngIf="i === number_places_studied - 1" class="container-add-places-studied">
              <button (click)="add_places_studied()" class="container-group-btn-add">+</button>
              <label>Добавить еще</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="container-group-description">Укажите заведения, в которых вы учились.</p>

    <div class="container-group">
      <label for="place_birth">Место рождения</label>
      <app-test-select id="place_birth" formControlName="place_birth" [styles]="{width: '300px', height: '44px'}"
        [params]="['Не важно', 'Астрахань', 'Волгоград', 'Волжский', 'Ростов-на-Дону', 'Саратов', 'Элиста']"></app-test-select>
      @if (!myForm.controls.place_birth.valid && myForm.controls.place_birth.touched){
      <small style="color: red;">Это поле обязательное для заполнения </small>
      }
    </div>

    <div class="container-group">
      <label for="skills">Навыки</label>
      <app-test-checkbox formControlName="skills"
        [skills]="['Общение', 'Вождение', 'Самозащита', 'Программирование', 'Управление вертолетом', 'Управление танком']"></app-test-checkbox>
    </div>

    <button 
    *ngIf="!isEdit" 
    class="container-btn" 
    (click)="send_form()" 
    [disabled]="!myForm.valid" 
    [ngStyle]="{'color': myForm.valid ? 'rgba(0, 0, 0, 1)' : 'rgba(100, 100, 100, 1)' }">
    Отправить
</button>

    <div *ngIf="isEdit" style="display: flex; gap: 10px; ">
      <button (click)="cancelEdit()" class="container-btn">Отмена</button>
      <button (click)="update_anketa()" class="container-btn">Редактировать</button>
    </div>

  </div>

  <div>
    <h1>Мои формы</h1>
    <div class="ankets" *ngIf="myForms">
      <div class="anketa" *ngFor="let form of myForms">
        <p>{{form.name}}</p>
        <div class="from-btn">
          <button (click)="delete_anket(form._id)">Удалить</button>
          <button (click)="edit_anketa(form._id)">Редактировать</button>
        </div>

      </div>
    </div>
  </div>
</div>