.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.skill-item {
    display: flex;
    align-items: center;
}

.skill-checkbox {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}